head
    meta(charset='UTF-8')
    title="Sprawl"
    //meta(name="description", content= page_description)
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel="shortcut icon", href="assets/favicon/sprawl-favicon.png", type="image/x-icon")
    link(rel="icon", href="assets/favicon/sprawl-favicon.png", type="image/x-icon")
    link(rel="stylesheet", type="text/css", href="https://use.typekit.net/nff2ydu.css")
    link(rel="stylesheet", type="text/css", href="assets/css/" + css_main)
