doctype html
html(lang='en-US')
  include head
  block variables
  body(class=body_class)
  noscript
    iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-TWXWHNZ"
height="0" width="0" style="display:none;visibility:hidden")
    block page_content
  //include footer

script(src="assets/js/vendor.js")
script(src="assets/js/" + js_app)
script.
    new WOW().init();
